html {
	height : 100%;
}

body {
	height : 100%;
	background : #eee;
}

.calculator {
	display : flex;
	flex-flow : column nowrap;
	justify-content : space-around;
	height : 100%;
	min-width : 300px;
	width : 100%;
	margin : 0 auto;
	border: none;
	border-radius : 5px;
	box-shadow: 0 2px 40px -10px rgba(0,0,0,.2);
	background-color : #f7f4f4;
}

.screen {
	height : 16.66%;
	width : 75%;
	margin : 0 auto;
	box-shadow : inset 0 1px 10px -2px rgba(0,0,0,.3);
	border-radius : 2px;
	background-color: #d7f4d7;
}

.screen__row {
	align-items: center;
	padding : 0 2.5%;
	width : 100%;
	height : 50%;
	font-family: 'Orbitron', sans-serif;
	font-size : 35px;
	overflow : hidden;
	background-color : transparent;
	border : none;
}

.screen__row--bottom {
	text-align : right;
}

.keypad {
	margin : 0 auto;
	height : 65%;
	width : 75%;
	background-color : #f7f4f4;
	display : flex;
	flex-direction : row;
	flex-wrap : wrap;
	justify-content : space-between;
}

.button {
	width : 15%;
	padding : 0;
	margin : 1%;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	border : none;
	font-weight : bold;
	background-color : #c1bfbf;
	border-radius : 3px;
	font-size : 26px;
	transition: all 0.1s ease;
}

.button--order-minus-3 {
	order : -3;
}

.button--order-minus-2 {
	order : -2;
}

.button--order-minus-1 {
	order : -1;
}

.button--order-0 {
	order : 0;
}

.button--order-1 {
	order : 1;
}

.button--order-2 {
	order : 2;
}

.button--order-3 {
	order : 3;
}

.button--order-4 {
	order : 4;
}

.button--number {
	background-color: #edeaea; 
}

.button:hover {
	box-shadow:0 3px 20px -2px rgba(0,0,0,.2);
	transition:all 0.1s ease;
	transform:translateY(-1px);
	background-color: rgba(193, 191, 191, .75);
}

.button--number:hover {
	background:#f1f1f1;
}

.button--equals:hover {  
	background-color: rgba(76, 175, 80, .85);
}

.button:active, .button--equals:active {
	box-shadow: 0 0 grey;
	transform: translateY(2px);
}

.button:focus, .button--equals:focus {
	outline : 0;
}

.button--delete-btn:hover {
	background: rgba(244, 67, 54, 0.85);
}

.button--delete-btn {
	order : -2;
	background: rgba(244, 67, 54, 1);
	color : white;
}

.button--equals {
	background-color: #4caf50;
	font-size : 26px;  
	color : white;
}

@media (orientation : landscape) {
	
	.calculator {
		max-width : 1024px;
		max-height : 768px;
	}

}

@media (orientation : portrait) {
	
	.calculator {
		max-width : 768px;
		max-height : 1024px;
	}

	.button {
		width : 20%;
		padding : 0;
		margin : 1%;
		box-shadow: 0 2px 5px rgba(0,0,0,.2);
		border : none;
		font-weight : bold;
		background-color : #c1bfbf;
		border-radius : 3px;
		font-size : 26px;
		transition: all 0.1s ease;
	}

	.button {
    	order : 0;
  	}

}

@media (max-width : 415px) {  
	
	.screen {
		width : 90%;
	}

	.keypad {
		width : 90%;
	}

}